In [1]:
import pandas as pd
import numpy as np

In [2]:
! ls

DanWood.dt            LoadingDanwood.py     MNIST-cropped-txt.zip
Home Assignment 1.pdf MNIST-cropped-txt     Untitled.ipynb

In [18]:
pd.read_table("DanWood.dt",sep=" ",names=["x","y"])

       x      y
0  1.309  2.138
1  1.471  3.421
2  1.490  3.597
3  1.565  4.340
4  1.611  4.882
5  1.680  5.660

In [14]:
class LoadData:
    
    def __init__(self):
        pass
    
    @staticmethod
    def DanWood():
        return pd.read_table("DanWood.dt",sep=" ",names=["x","y"])
    
    def

In [15]:
a = LoadData.DanWood()

In [19]:
a.head()

       x      y
0  1.309  2.138
1  1.471  3.421
2  1.490  3.597
3  1.565  4.340
4  1.611  4.882

In [ ]:
with open